@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

    The purpose of this Privacy Policy (“the Policy”) is to provide adequate safeguards for the processing of Personal Data by CRM.COM (“us” or “we”) in accordance with General Data Protection Regulation (GDPR) and any other EU privacy laws. This privacy policy sets out how we use and protect any personal data that you provide when you use this website. CRM.COM is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.

    The term “CRM.COM” (“us” or “we”) refers to the owner of the website whose registered address is Box Tower Office 617, 5th Floor, 91 Oceanblue Road Ghana, SE1 8RT.

    The term “you” refers to the viewer of our website.
</p>
